<td border="0" cellpadding="0" cellspacing="0" align="left" style="padding: 7px 0px;">
    <a href="javascript:;" title="myKlosets">
        <img src="http://myklosets.com/images/sticky-logo.png" alt="myKlosets" title="myKlosets">
    </a>
</td>